<a href="https://colab.research.google.com/github/subbu666/natural-language-processing/blob/main/EXPERIMENT6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
corpus=['data science is one of the most important fields of science','this is one of the best data science courses','data scientists analyze data']

In [4]:
words_set=set()
for doc in corpus:
  words=doc.split(' ')
  words_set=words_set.union(set(words))
print('Number of words in the corpus ',len(words_set))
print('The words in the corpus: \n ',words_set)

Number of words in the corpus  14
The words in the corpus:
  {'this', 'data', 'is', 'of', 'analyze', 'scientists', 'courses', 'most', 'fields', 'one', 'best', 'the', 'science', 'important'}

In [12]:
n_docs=len(corpus)
n_words_set=len(words_set)
df_tf=pd.DataFrame(np.zeros((n_docs,n_words_set)),columns=list(words_set))
for i in range(n_docs):
  words=corpus[i].split(' ')
  for w in words:
    df_tf[w][i]=df_tf[w][i]+(1/len(words))
print(df_tf)

       this      data        is        of  analyze  scientists   courses  \
0  0.000000  0.090909  0.090909  0.181818     0.00        0.00  0.000000
1  0.111111  0.111111  0.111111  0.111111     0.00        0.00  0.111111
2  0.000000  0.500000  0.000000  0.000000     0.25        0.25  0.000000

       most    fields       one      best       the   science  important
0  0.090909  0.090909  0.090909  0.000000  0.090909  0.181818   0.090909
1  0.000000  0.000000  0.111111  0.111111  0.111111  0.111111   0.000000
2  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000

In [13]:
print('IDF OF: ')
idf={}
for w in words_set:
  k=0
  for i in range(n_docs):
    if w in corpus[i].split():
      k=k+1
  idf[w]=np.log10(n_docs/k)
  print(f'{w:>15}:{idf[w]:>10}')

IDF OF:
           this:0.47712125471966244
           data:       0.0
             is:0.17609125905568124
             of:0.17609125905568124
        analyze:0.47712125471966244
     scientists:0.47712125471966244
        courses:0.47712125471966244
           most:0.47712125471966244
         fields:0.47712125471966244
            one:0.17609125905568124
           best:0.47712125471966244
            the:0.17609125905568124
        science:0.17609125905568124
      important:0.47712125471966244

In [14]:
n_docs=len(corpus)
df_tf_idf=df_tf.copy()
for w in words_set:
  for i in range(n_docs):
    df_tf_idf[w][i]=df_tf[w][i]*idf[w]
print(df_tf_idf)

       this  data        is        of  analyze  scientists   courses  \
0  0.000000   0.0  0.016008  0.032017  0.00000     0.00000  0.000000
1  0.053013   0.0  0.019566  0.019566  0.00000     0.00000  0.053013
2  0.000000   0.0  0.000000  0.000000  0.11928     0.11928  0.000000

       most    fields       one      best       the   science  important
0  0.043375  0.043375  0.016008  0.000000  0.016008  0.032017   0.043375
1  0.000000  0.000000  0.019566  0.053013  0.019566  0.019566   0.000000
2  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000